:host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.875rem;
}

@use 'sass:map';
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #444;
}

* ul {
  list-style: none;
}

* a {
  text-decoration: none;
  color: unset;
}

* img {
  width: 24px;
  height: 24px;
}

* button {
  width: 10rem;
  height: 3.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

* button:hover {
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
}

.main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  max-width: 75rem;
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(218, 165, 32, 0.5);
}

.navbar .logo {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo strong {
  color: goldenrod;
  font-size: 1.3rem;
}

.navbar .menu_icon {
  display: none;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.navbar ul li {
  background: #fff;
  padding: 1rem 1.5rem;
  border-bottom: 2px solid #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.navbar ul li a {
  font-size: 1rem;
}

.navbar ul li.active {
  border-bottom: 2px solid goldenrod;
  background: rgba(218, 165, 32, 0.2);
}

.navbar ul li:hover {
  border-bottom: 2px solid goldenrod;
  background: rgba(218, 165, 32, 0.1);
}

@media (max-width: 25.6875rem) {
  .navbar .nav_list {
    display: none;
  }
  .navbar .menu_icon {
    display: block;
    margin-left: auto;
    font-size: 1.3rem;
  }
}

.section_hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.section_hero .text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.section_hero .text_container .hi {
  font-weight: 500;
}

.section_hero .text_container .my_name {
  font-size: 2.5rem;
  font-weight: lighter;
  margin: 0.5rem 0;
}

.section_hero .text_container .description {
  font-weight: 500;
  margin-bottom: 1rem;
}

.section_hero .text_container .action_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.section_hero .text_container .action_wrapper button {
  width: 10rem;
  height: 3.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.section_hero .text_container .action_wrapper button.btn_hire {
  background: goldenrod;
  font-size: 1rem;
  font-weight: 500;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
}

.section_hero .text_container .action_wrapper button .down_cv {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.section_hero .text_container .action_wrapper button:hover {
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
}

.section_hero .text_container .about_text {
  line-height: 1.5;
}

.section_hero .text_container .about_text strong {
  color: goldenrod;
}

.section_hero .image_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0 50% 0 50%;
  padding-top: 2rem;
  background: rgba(218, 165, 32, 0.1);
  background: #eee;
  border-left: 2px solid goldenrod;
  border-top: 1px solid goldenrod;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 25rem;
  width: 30rem;
  height: 30rem;
}

.section_hero .image_wrapper .model {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 48rem) {
  .section_hero {
    padding: 1rem 2rem;
  }
  .section_hero .about_text span {
    font-size: 1.4rem;
  }
  .section_hero .image_wrapper {
    display: none;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(218, 165, 32, 0.5);
  margin-top: 2rem;
}

.services .title {
  font-size: 20px;
  font-weight: 500;
  margin: 1rem 0;
}

.services .servie_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.services .servie_wrapper .service {
  border: 1px solid goldenrod;
  border-radius: 0.3125rem;
  padding: 1rem;
}

.services .servie_wrapper .service a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.services .servie_wrapper .service .service_title {
  font-size: 1.25rem;
  font-weight: 500;
}

.services .servie_wrapper .service img {
  width: 100%;
  height: 100%;
}

.services .servie_wrapper .service .details {
  line-height: 1.5;
}

.services .servie_wrapper .service:hover {
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
}

@media (max-width: 48rem) {
  .services .servie_wrapper {
    width: 100%;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 1rem 2rem;
  }
  .services .servie_wrapper .service {
    max-width: 30rem;
  }
}

@media (max-width: 25.6875rem) {
  .services .servie_wrapper {
    width: 100%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    place-items: center;
    padding: 1rem 2rem;
  }
  .services .servie_wrapper .service {
    max-width: 30rem;
  }
}

.contact_me {
  width: 100%;
  height: 10rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 1rem 0;
  background: rgba(218, 165, 32, 0.1);
}

.contact_me span {
  font-size: 1.25rem;
}

.contact_me button {
  background: goldenrod;
  color: #fff;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: goldenrod;
  padding: 1rem;
}

footer .social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social_icons a {
  margin: 0 1rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
}

footer .social_icons a i::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -8px;
  display: none;
  width: 100%;
  height: 5px;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  z-index: 0;
  background: #fff;
}

footer .social_icons a:nth-child(1) i {
  color: #3578e5;
}

footer .social_icons a:nth-child(2) i {
  color: #1da1f2;
}

footer .social_icons a:nth-child(3) i {
  color: #aa41af;
}

footer .social_icons a:nth-child(4) i {
  color: #ff0000;
}

footer .social_icons a:hover i::after {
  display: block;
}

.contact_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}
/*# sourceMappingURL=style.css.map */